aiofiles
annotated-doc
annotated-types
anyio
asyncpg
click
fastapi
greenlet
h11
httptools
idna
mutagen
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
PyYAML
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
yt-dlp
